

/* body {
  background-color: #ffffff;
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  font-size: 14px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
} */

/* .backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.section {
  padding-bottom: 94px;
} */



/* .nav {
  margin-left: 93px;
  margin-right: 331px;
 */

/* .nav__list .nav__list-item {
  margin-right: 50px;
} */

/* .nav__list-link {
  position: relative;
} */

/* .nav__list-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);

} */

/* .nav__list-link:hover::after {
  display: block;
  } */

/* .nav__list .nav__list-item:last-child {
  margin-right: 0;
} */

/* .nav {
  display: flex;
} */




/* site-nav */

/* .nav__list {
  display: flex;
} */

/* .nav__list .link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)

} */

/* .nav__list .link:hover,
.nav__list .link:focus {
  color: var(--accent-color);
} */ */

/* .nav__list .link.current {
  color: var(--accent-color);
}

/* contact-nav */

/* .contact {
  display: flex;
  margin-left: auto;
} */

/* .contact .contact__item {
  margin-right: 50px;
} */

/* .contact .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)

} */

/* .contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
} */

/* .contact .link.current {
  color: var(--accent-color);
} */

/* .contact__icons {
  display: flex;
  align-items: center;
  cursor: pointer;

} */

/* .contact__svg {
  margin-right: 10px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
} */

/* .contact__icons {
  fill: #757575;
} */

/* .contact__icons:hover,
.contact__icons:focus {
  fill: var(--accent-color);
} */

/* footer */

/* .footer__logo {
  color: var(--accent-color);

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
} */

/* .footer__logo-text {
  color: var(--primary-white-color);

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
} */

/* .footer__text-adress {
  color: var(--primary-white-color);

  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__adress {
  font-style: normal;
  margin-top: 20px;
  display: flex;
 flex-direction: column;
 margin-right: 70px;

} */



/* .footer__adress .footer__link {
  color: rgba(255, 255, 255, 0.6);

  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
} */

/* .footer__adress .footer__link:hover,
.footer__adress .footer__link:focus {
  color: var(--accent-color);
}

.footer__adress .footer__link.current {
  color: var(--accent-color);
} */

/* .footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
  display: flex;
  align-items: center;
} */

/* .footer__container {
  display: flex;
  align-items: baseline;
} */

/* .footer__adress .footer__item {
  margin-bottom: 9px;
}

.footer__adress .item:last-child {
  margin-bottom: 0;
} */

/* .socials {
  display: inline-block;
  margin-right: 93px;
} */

/* .socials__list {
  display: flex;
  margin-top: 20px;
} */

/* .socials__text {
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
} */

/* .socials__link:last-child {
  margin-right: 0;
} */

/* .socials__link {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  justify-content: center;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
} */

/* .socials__link:hover {
  background-color: #2196f3;
} */
  
.footer__nav {
  display: flex;
  flex-direction: column;
}

/* .socials__icon {
  fill: #fff
} */

/* .socials__items {
  display: flex;
  margin-right: 10px;
} */

/* .socials__items:last-child {
  margin-right: 0;
} */

/* Форма для записи */

/* .letter {
  display: inline-block;
} */

/* .letter__form {
  margin-top: 20px;
  display: flex;
  align-items: center;
} */

/* .letter__input {
  background-color: transparent;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
  margin-right: 12px;

  color:rgba(117, 117, 117, 0.5);
} */

/* .letter__btn {
  width: 200px;
  height: 50px;
} */

/* .letter__btn-icon {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
} */

/* .letter__btn-svg {
  margin-left: 10px;
  width: 24px;
  height: 24px;
} */

