/* hero */

/* .hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2f303a;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
} */

/* .hero__title {
  color: #ffffff;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
} */

/* section */

/* .section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
} */

/* skill */

/* .skills {
  padding-top: 94px;
} */

/* .skills__list .skills__item {
  margin-right: 30px;
} */

/* .skills__list .skills__item:last-child {
  margin-right: 0;
} */

/* .skills__item .title {
  margin-bottom: 10px;
} */

/* .skills__item .text {
  width: 270px;
} */

/* .container .skills__list {
  display: flex;
} */

/* .skills__list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
} */

/* .section .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
} */

/* .skills__icons {
  width: 270px;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
} */

/* portfolio */

/* .portfolio {
  margin-top: 0;
  margin-bottom: 94;
} */

/* .portfolio__container .section-title {
  text-align: center;
  margin-bottom: 50px;
} */

/* .portfolio__container .portfolio__list {
  display: flex;
} */

/* .portfolio__container .portfolio__item {
  margin-right: 30px;
  position: relative;
} */

/* .portfolio__text {
  position: absolute;
  bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-white-color);
  width: 100%;
  height: 70px;
  
  padding-top: 24px;
  background: rgba(47, 48, 58, 0.8);
} */

/* .portfolio__container .portfolio__text {
  text-transform: uppercase;
  font-weight: 700;
} */

/* .portfolio__container .portfolio__item:last-child {
  margin-right: 0;
} */



/* team */
/* .teams {
  background-color: rgba(245, 244, 250, 1);
} */

/* .teams__container .section-title {
  margin-bottom: 50px;
  padding-top: 94px;
} */

/* .teams__container .list {
  display: flex;
} */

/* .teams__container .teams__item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
} */

/* .teams__container .teams__item:last-child {
  margin-right: 0;
} */

/* .teams__team-name {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
} */

/* .teams__team-name .teams__title {
  margin-bottom: 10px;
} */

/* .teams__team-name .teams__text {
  margin-bottom: 16px;
} */

/* .teams__list .teams__title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
} */

/* .teams__list .teams__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
} */

/* .teams__list-icons {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .teams__social-icon {
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
} */

/* .button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
} */

/* .teams__list-item {
  display: flex;
  margin-right: 10px;
} */

/* .teams__icon-link {
  display: flex;
  align-items: center;
  
  width: 44px;
  height: 44px;
  justify-content: center;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
} */

/* .teams__list-item:last-child {
  margin-right: 0;
} */


/* .teams__icon-link:hover {
  background-color: #2196f3;

} */

/* .teams__icon-link:hover .teams__social-icon {
  fill: #fff;
} */



/* clients */

/* .client {
  padding-top: 94px;
} */

/* .client .client__title {
  margin-bottom: 50px;
} */

/* .clients {
  margin-top: 50px;
} */

/* .client__list {
  display: flex;
} */

/* .client__item {
  border-radius: 4px;
  margin-right: 30px;
} */



/* .client__item a {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: border;
    transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
} */

/* .client__item:last-child {
  margin-right: 0;
} */

/* .client__logo {
  fill: rgba(175, 177, 184, 1);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
} */

/* .client__item a:hover {
  border: 1px solid #2196f3;

} */

/* .client__item a:hover .client__logo {
  fill: #2196f3;
} */
