/* section */

/* portfolio */

/* .portfolio__title {
  color: var(--title-text-color);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
} */

/* .text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
} */

/* button */

/* .button {
  color: var(--title-text-color);
  background-color: var(--primary-button-color);

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .portfolio__btns {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
} */

/* .portfolio__btns .portfolio__btns-item {
  margin-right: 8px;
} */

/* .portfolio__btns .portfolio__btns-item:last-child {
  margin-right: 0px;
} */

/* .portfolio__btns .button:hover,
.portfolio__btns .button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* .portfolio__list {
  display: flex;
  flex-wrap: wrap;
} */

/* .portfolio__box {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
} */

/* .portfolio__link {
  display: inline-block;
   width: 100%;
   height: 100%;
 }

.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
} */

/* .portfolio__item {
  margin-right: 30px;
  margin-bottom: 30px;
} */

/* .portfolio__item:nth-child(3n + 3) {
  margin-right: 0;
} */

/* .portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

/* .portfolio__item-text {
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
} */

/* .portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* .portfolio__box-content {
  position: relative;
  overflow: hidden;
} */

/* .portfolio__text {
  color: rgba(117, 117, 117, 1);
} */

/* .portfolio__box-text {
  position: absolute;

  bottom: 0%;
  width: 100%;
  height: 100%;
  padding: 60px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  
  letter-spacing: 0.03em;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  */

/* .portfolio__item a:hover .portfolio__box-text {
transform: translateY(0%);
} */

/* .letter__form .letter__btn {
  background-color: #2196f3;
  color: #ffffff;
}

.letter__form .letter__btn {
  width: 200px;
  height: 50px;
}

.letter__form .letter__btn-icon {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.letter__form .letter__btn-svg {
  margin-left: 10px;
  width: 24px;
  height: 24px;
} */